absl-py==2.0.0
appdirs==1.4.4
autograd==1.6.2
autoray==0.6.7
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
chex==0.1.85
future==0.18.3
idna==3.6
importlib-metadata==7.0.0
jax==0.4.21
jaxlib==0.4.21
jaxopt==0.8.2
ml-dtypes==0.3.1
networkx==3.2.1
numpy==1.26.2
opt-einsum==3.3.0
optax==0.1.7
PennyLane==0.33.1
PennyLane-Lightning==0.33.1
requests==2.31.0
rustworkx==0.13.2
scipy==1.11.4
semantic-version==2.10.0
toml==0.10.2
toolz==0.12.0
typing_extensions==4.8.0
urllib3==2.1.0
zipp==3.17.0
